
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using Microsoft.AspNetCore.Identity
@using Areas.Identity.Data 
@inject SignInManager<BitcubeUser> SignInManager


<div class="text-center">
    <h1 class="display-4">Welcome to Bitcube</h1>
        <p>You are now logged in as @User.Identity.Name.</p>
</div>
